// Fonts family
@font-face {
	font-family: 'ProximaNova_bold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova_Reg';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@mixin regular {
	font-family: 'ProximaNova_Reg', sans-serif;
}
@mixin bold {
	font-family: 'ProximaNova_bold', sans-serif;
}

// Colors
$btn-color: #ffb504;
$icons-color: #70c849;
$text: #1a1820;
$danger: #ff0000;
$bg-light: #f5f5f5;
$light: #fff;
$border-input: #dddddd; 
$problems-color: #e8e8e8;

// Basic setting
html {
	font-size: 10px;
}
body {
	@include regular();
}
button, input, a, textarea {
	&:focus {
		outline: none;
	}
}
.button {	
	padding: 2rem 3rem;
	border-radius: .8rem;
	font-size: 1.2rem;
	line-height: 1.2;
	font-weight: 600;
	background-color: $btn-color;
	color: $light;
	text-transform: uppercase;
	border: none;
	transition: all 0.2s;
	&:hover {
		cursor: pointer;
		background-color: darken($btn-color, 5%);
	}
}
// Оформление форм
.form {
	// Поле ввода
	&-input {
		display: block;
		margin: 2.5rem 0;
		width: 100%;
		font-size: 1.4rem;
		border: 1px solid $border-input;
		border-radius: 5px;
		padding: 1.5rem;
	}
	// Подписи к полям
	label {
		font-size: 1.3rem;
		position: absolute;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		padding: 0.5rem;
		background-color: $light;
	}
	// Кнопка отправить заявку
	&-button {
		display: block;
		height: 6.5rem;
		color: $light;
		width: 100%;
		font-size: 1.6rem;
		box-shadow: 0px 8px 13px 0px rgba(0,0,0,0.03);;
		}
}
// Typography
section {
	padding: 10rem 0;
}
.section-header {
	&__light {
		color: $light;
	}
	h2 {
		@include bold();
		font-size: 3.6rem;
	}
	padding: {
		font-size: 1.4rem;
	};
	margin: 2rem 0 13rem;	
	text-align: center;
	
}

// main
.main {
	//padding: 3rem 0;
	background: url('../img/main_bg.jpg') center center no-repeat;
	&-content {
		margin-top: 10.4rem;
		// Главный заголовок
		h1 {
			@include bold();
			font-size: 4rem;
			text-transform: uppercase;
			margin-top: -1rem;
			margin-bottom: 5.3rem;
			line-height: 1.45;
		}
	}
	// Подзаголовок
	&-subtitle{
		font-size: 2.4rem;
		margin-bottom: 6rem;
	}
	// Зеленый ярлык
	span {
		display: inline-block;
		padding: 3rem 4rem;
		font-size: 1.8rem;
		color: $light;
		background-color: $icons-color;
		text-align: center;
		// Цифра 300 рублей
		strong {
			font-size: 3rem;
			@include bold();
		}
	}
	// Оплата по факту
	&-trigger {
		display: block;
		font-size: 2.2rem;
		text-transform: uppercase;
		@include bold();
		margin-top: 3.7rem;
	}
	// Главная форма
	&-form {
		background-color: $light;
		padding: 4.6rem 5rem;
		text-align: center;
		// Заголовок формы
		&-header {
			margin-bottom: 4rem;
			font-size: 1.8rem;
			strong {
				font-size: 2rem;
			}
		}
/* 		// Поле ввода
		&-input {
			display: block;
			margin: 2.5rem 0;
			width: 100%;
			font-size: 1.4rem;
			border: 1px solid $border-input;
			border-radius: 5px;
			padding: 1.5rem;
		}
		// Подписи к полям
		label {
			font-size: 1.3rem;
			position: absolute;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			padding: 0.5rem;
			background-color: $light;
		}
		// Кнопка отправить заявку
		&-button {
			display: block;
			height: 6.5rem;
			color: $light;
			width: 100%;
			font-size: 1.6rem;
			box-shadow: 0px 8px 13px 0px rgba(0,0,0,0.03);;
			} */		
		// Подпись под кнопкой
		small {
			display: block;
			margin-top: 1.5rem;
			font-size: 1.2rem;
		}
		
	}
}

// Шапка
.header {
	padding-top: 1.5rem;
	height: 8.5rem;
}



// Телефон
.phone {
	&-block {
		text-align: right;
	}
	&-link {
		display: inline-block;
		@include bold();
		font-weight: 900;
		font-size: 2rem;
		height: 7rem;
		line-height: 7rem;
		color: $text;
	}
}

// Оформление секции с преимуществами
.features {
	&-block {
		text-align: center;
		h3 {
			font-size: 2rem;
			@include bold();
			margin-top: 6.4rem;
			margin-bottom: 3.5rem;
		}
		p {
			display: inline-block;
			width: 80%;
			font-size: 1.4rem;
		}
		
	}
	&-img {
		img {
			display: block;
			margin: 0 auto;
		}		
	}
}
.prev {
	position: absolute;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border: none;
	background: url(../img/features/left_arrow.svg) center no-repeat;
	background-size: 70%;
	top: 50%;
	left: 0;
	opacity: 0.3;
}
.next {
	position: absolute;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border: none;
	background: url(../img/features/right_arrow.svg) center no-repeat;
	background-size: 70%;
	top: 50%;
	right: 0;
	opacity: 0.3;
}

// Оформление блока Цены
.price {
	background: $icons-color url(../img/prices/prices_bg.jpg) center;
	p {
		font-size: 1.8rem;
		font-weight: 400;
		margin-top: 4.9rem;
	}
	&-header-btn {
		margin-top: 2rem;
	}

// Карточки с тарифами
	&-block {
		padding: 1rem 3rem 4rem;
		min-height: 50rem;
		background-color: $light;
		box-shadow: 0px 14px 21px 0px;
		text-align: center;
		img {
			display: inline-block;
			max-width: 30rem;
			width: 100%;
			margin-bottom: 2rem;
		}
		h4 {
			margin: 3rem 0;
			font-size: 1.9rem;
			@include bold();
		}
	}
	&-tag {
		display: block;
		margin-bottom: 2rem;
		font-size: 1.9rem;
		@include bold();

	}
	&-list {
		padding: 0;
		list-style: none;
		min-height: 14rem;
		font-size: 1.6rem;
		line-height: 1.6;
		li {
			&::before {
				content: '';
				display: inline-block;
				margin-right: 1rem;
				width: 1rem;
				height: 1rem;
				background: url(../img/check.svg) no-repeat center;
				background-size: 100%;
				
			}
		}
	}
	
}

// Секция с отзывами
.feedback {
	position: relative;
	background: url(../img/feedback/feedback_bg.jpg) no-repeat center;
	background-size: cover;
	&-prev-btn {
		left: -4rem;
	}
	&-next-btn {
		right: -4rem;
	}
	&-text {
		position: relative;
		margin-top: 2rem;
		padding: 1rem;
		border: 2px solid $icons-color;
		font-style: italic;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: -2rem;
			left: 4rem;
			width: 2rem;
			height: 2rem;
			background-color: $light;
			border: 2px solid $icons-color;
			border-bottom: none;
			border-top-right-radius: 100px;
		}
	}
	&-slider {
		padding: 5.6rem 6rem;
		background-color: $light;
		box-shadow: 0px 12px 18px 0px rgba(0,0,0,0.1);
		.media {
			margin-top: 3rem;
			font-size: 1.4rem;
			h4 {
				@include bold();
			}
			&-left {
				margin-right: 2rem;
			}
		}
		p {
			font-size: 1.6rem;
		}
		&-btn {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 3rem;
			height: 5rem;
			background-color: $icons-color;
			border: none;
		}
	}
	// Оформление формы обратной связи
	&-button {
		margin: auto;
		max-width: 30rem;
	}
	&-form {
		margin-top: 5.9rem;
		padding: 4rem 10rem;
		text-align: center;
		background-color: $light;
		h3 {
			margin-bottom: 4.3rem;
			@include bold();
			font-size: 2.2rem;
		}
		label {
			transform: translate(-50%, 35%);
		}
	}
}

.hand {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 30rem;
}

// Секция схема работы
.scheme {
	background: #fff url(../img/sheme/scheme_bg.png) bottom -10rem right -20rem no-repeat;
	background-size: 65rem;
	&-block {
		min-height: 30rem;
		img {
			margin-bottom: 3.3rem;
		}
		h3 {
			font-size: 2rem;
			@include bold();
		}
		p {
			font-size: 1.7rem;
		}
	}
	
}

// Секция Все на 100% включено
.all-inclusive	{
	background: $bg-light;
	.media {
		min-height: 8rem;	
		h4 {
			@include bold();
			font-size: 1.6rem;
		}
		font-size: 1.3rem;
		&-body {
			padding-left: 1.9rem;
		}
	}
}
.circle {	
	display: inline-block;
	background-color: $icons-color;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	&-border	{
		display: inline-block;
		width: 5rem;
		height: 5rem;
		border: 2px solid $icons-color;
		border-radius: 50%;
		text-align: center;
		line-height: 4rem;
		padding: 0.3rem;
		color: $light;
		@include bold();
		font-size: 1.9rem;
	}
}

// Мы развеем все опасения
.problems {
	position: relative;
	&-women {
		position: absolute;
		width: 30rem;
		bottom: 0;
		left: 50%;
		margin-left: -19rem;
	}
	&-list {
		border: 1px solid;
		margin-bottom: 2rem;
		padding: 2rem;
		min-height: 43rem;
		h4 {
			font-size: 2.1rem;
			@include bold();			
		}
		ul {
			list-style: none;	
			font-size: 1.6rem;
			padding-left: 0;
			padding-top: 5rem;
			li {
				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 3rem;
					height: 3rem;
				}
				margin-bottom: 3rem;
				position: relative;
				padding-left: 3.5rem;
			}
		}
		&__bad {
			border-color: $problems-color;
			h4 {
				opacity: 0.5;
			}
			ul li::before {
				background: url(../img/problems/problem.svg) no-repeat center;
			}
		}
		&__good {
			border-color: $icons-color;
			ul li::before {
				background: url(../img/problems/checked_symbol.svg) no-repeat center;
			}
		}
	}
}

// Оформление модальных окон
.popup {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.5);
	&-content {
		position: fixed;
		left: 50%;
		top: 10%;
		background-color: $light;
		transform: translateX(-50%);
		padding: 4rem 6rem;
	}
	&-form {
		margin-top: 3rem;
		padding: 0;
	}
	&-close {
		position: absolute;
		top: -1.6rem;
		right: -3rem;
		width: 2rem;
		text-align: center;
		border: none;
		background-color: transparent;
		color: $light;
		font-size: 3rem;
	}
	&-content {
		text-align: center;
		p {
			font-size: 1.8rem;
			font-weight: 400;
		}
	}
	&-header {
		@include bold();
		font-size: 1.8rem;
		font-weight: 700;		
	}
}


// Экран меньше 1200px
@media (max-width: 1199px) {
	.section-header {
		margin-bottom: 5rem;
	}
	.price {
		&-block {
			h4 {
				font-size: 1.5rem;
			}
		}
	}
	.price-list {
		min-height: 16rem;
	}
	.feedback {
		&-form {
			padding: 3rem 5rem;
		}
	}
	.problems {
		&-list {
			min-height: 45rem;
		}
	}
}


// Экран меньше 991px
@media (max-width: 991px) {
	.main {
		background-position: top right;
		background-size: cover;
		&-content {
			h1 {
				margin-bottom: 0;
			}
		}
		&-subtitle {
			margin-bottom: 1rem;
		}
		&-trigger {
			margin-top: 2rem;
		}
	}
	.phone-block {
		text-align: center;
	}
	.main-content {
		margin-top: 3rem;
	}
	.main-title {
		padding-bottom: 3rem;
		text-align: center;
	}
	.price {
		&-header-btn {
			margin-bottom: 2rem;
		}
		&-block {
			margin-bottom: 2rem;			
		}
	}
	.section-header__light {
		margin-bottom: 0;
	}
	.fotorama {
		margin-bottom: 3rem;
	}
	.hand {
		display: none;
	}
	.problems {
		&-list {
			min-height: auto;
		}
		&-women {
			display: none;
		}
}

// Экран меньше 767px
@media (max-width: 767px) {
	.header {
		margin-bottom: 15rem;
		text-align: center;
	}
	.feedback {
		&-prev-btn {
			left: 0;
		}
		&-next-btn {
			right: 0;
		}
	}
	.main-content {
		h1 {
			font-size: 3rem;
		}
	}
	.section-header {
		h2 {
			font-size: 3rem;
		}
	}
	.scheme {
		background: no-repeat;
		text-align: center;
		&-block {
			min-height: 20rem;
		}
	}

	}
}
